<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Document</title>
  <link rel="icon" href="{{staticAssetsUrl}}/favicon.ico">
  <script defer="defer" src="{{staticAssetsUrl}}/scripts/runtime.f8c99.bundle.js"></script>
  <script defer="defer" src="{{staticAssetsUrl}}/scripts/main.1a239.bundle.js"></script>
  <link href="{{staticAssetsUrl}}/styles/main.ad981.css" rel="stylesheet">
</head>

<body>
  <div id="app">loading....</div>
</body>

</html>